* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Regular"), url("./fonts/MerriweatherSans.ttf");
  font-weight: 400;
}

:root {
  --main-projects-color: rgb(229, 243, 246);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  min-height: 350px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border-radius: 5px;
  /* border: 1px solid black; */
  min-width: 500px;
  aspect-ratio: 15/9;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  border: 2px solid rgb(186, 184, 184);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.app-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  border: 2px solid rgb(186, 184, 184);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  padding-top: 25px;
}

.search-go {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid green;
  height: 60%;
  width: 70%;
  padding: 0 5px 0 5px;
}

input {
  height: 50%;
  width: 75%;
  padding: 0 5px;
}

button {
  height: 55%;
  width: 15%;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  width: 70%;
  min-height: 192px;
  /* border: 1px solid rgb(216, 62, 62); */
}
.location-header {
  position: absolute;
  top: 1%;
}

.celsius-far-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 14%;
  right: 34px;
  width: 16px;
  height: 30px;
  border: solid black 1px;
  border-radius: 8px;
  padding: 2px;
}

.toggle-circle {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  border: solid rgb(163, 161, 161) 1px;
  cursor: pointer;
}

.today,
.tommorow,
.overmorrow {
  border: 1px solid grey;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 4fr 4fr 1fr;
}

.day,
.weather-icon,
.temperature,
.weather-description {
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  min-height: 19px;
}

.toggle-up {
  justify-content: flex-start;
}

.toggle-down {
  justify-content: flex-end;
}

.fahrenheit-symbol,
.celsius-symbol {
  position: absolute;
}

.fahrenheit-symbol {
  bottom: -20px;
  left: 15px;
}

.celsius-symbol {
  top: -15px;
  left: 15px;
}

.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #336cf0) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.loader-text {
  font-weight: normal;
  font-family: Merriweather, sans-serif;
  font-size: 20px;
  animation: l1 1s linear infinite alternate;
}
.loader-text:before {
  content: "Loading...";
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}
