* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Regular"), url("./fonts/MerriweatherSans.ttf");
  font-weight: 400;
}

:root {
  --main-projects-color: rgb(229, 243, 246);
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 465px;
}

.header {
  display: flex;
  justify-content: baseline;
  align-items: center;
  position: absolute;
  height: 60px;
  width: 100vw;
  border: 1px solid black;
  align-self: baseline;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 60px;
  width: 100vw;
  border: 1px solid black;
  align-self: flex-end;
}

.header h1 {
  padding-left: 30px;
}

body {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  min-height: 350px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border-radius: 5px;
  /* border: 1px solid black; */
  min-width: 500px;
  aspect-ratio: 15/9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  border: 2px solid rgb(186, 184, 184);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(186, 184, 184);
}

.app-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  border: 2px solid rgb(186, 184, 184);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: rgb(197, 227, 232);
}

.weather-swatch-opacity-layer {
  position: absolute;
  /* background-image: url("./img/weather-img.webp"); */
  background-size: auto;
  position: absolute;
  opacity: 0.3;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.search-go {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid rgb(7, 7, 7); */
  border-radius: 5px;
  height: 60%;
  width: 70%;
  padding: 0 5px 0 5px;
  /* background-color: rgb(131, 130, 130); */
  background-color: rgb(197, 227, 232);
}

input {
  height: 50%;
  width: 75%;
  padding: 0 5px;
}

button {
  height: 55%;
  width: 15%;
}

.weather-container {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  width: 70%;
  min-height: 192px;
  border: 2px solid rgb(205, 203, 203);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.location-header {
  position: absolute;
  top: -5%;
  background-color: white;
  padding: 5px;
  border: 1px solid rgb(205, 203, 203);
  border-radius: 5px;
  z-index: 2;
}

.celsius-far-toggle {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14%;
  right: 34px;
  width: 16px;
  height: 30px;
  border: solid rgb(131, 130, 130) 1px;
  border-radius: 8px;
  padding: 2px;
  background-color: rgb(232, 229, 229);
}

.toggle-circle {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  border: solid rgb(163, 161, 161) 1px;
  cursor: pointer;
  background-color: rgb(131, 130, 130);
}

.today,
.tommorow,
.overmorrow {
  /* border: 1px solid grey; */
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
}

.day,
.weather-description {
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.day:after,
.weather-description:after {
  content: "";
  background: black;
  position: absolute;
  left: 5%;
  height: 1px;
  width: 90%;
}

.weather-description:after {
  top: 5px;
}

.day:after {
  bottom: 5px;
}

.weather-icon,
.temperature {
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.day {
  min-height: 14px;
}

.toggle-up {
  justify-content: flex-start;
}

.toggle-down {
  justify-content: flex-end;
}

.fahrenheit-symbol,
.celsius-symbol {
  width: 28px;
  height: 20px;
  position: absolute;
  color: rgb(163, 161, 161);
  border-radius: 15px;
  text-align: center;
  background-color: white;
  border: 1px grey solid;
  opacity: 0.7;
  cursor: pointer;
}

.disable-pointer {
  pointer-events: none;
  cursor: none;
}

.scale-symbol-selected {
  /* border: 1px grey solid; */
  box-shadow: 0px 2px grey;
  opacity: 1;
}

.fahrenheit-symbol {
  bottom: -20px;
  left: 15px;
}

.celsius-symbol {
  top: -15px;
  left: 15px;
}

.loader {
  width: 31px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #336cf0) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.loader-text {
  font-weight: normal;
  font-family: Merriweather, sans-serif;
  font-size: 16px;
  animation: l1 1s linear infinite alternate;
}
.loader-text:before {
  content: "Loading...";
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}

button {
  cursor: pointer;
}
